.background-image img{
    position: relative !important;
}
.university-image{
    width: 100%;
    margin: auto;
    height: 160px;
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
}
.university-logo{
width: 90px !important;
height: 90px !important;
left: 30px !important;
bottom: 60px !important;
border: 1px solid black;
background-color: rgba(181, 176, 176, 0.7);
padding: 10px !important;
border-radius: 20px !important;
}

.main-container-university{
    width: 67%;
    margin: auto !important;
    padding: 20px !important;
}
.university-details{
margin-top: -40px !important;
}
.university-details a svg{
font-size: 16px !important;
}
.program-name{
    padding: 10px 0px !important ;
}
